<h3>MoneyLineChart</h3>
<MudChart ChartType="ChartType.Line"
          ChartSeries="@Series"
          XAxisLabels="@XAxisLabels"
          Width="100%"
          Height="300px" />

@code {
	[Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string[] XAxisLabels { get; set; } = Array.Empty<string>();
    [Parameter] public double[] YAxisValues { get; set; } = Array.Empty<double>();
    private List<ChartSeries> Series = new();    
    protected override void OnParametersSet()
    {
        Series = new()
        {
            new ChartSeries
            {
                Name = Title,
                Data = YAxisValues
            }
        };
    }
}

