<span>@(Duration>0?"started at":"occured at")</span>
<h5 style="display:inline-block;">
    <strong>@(Start.Day == DateTime.UtcNow.Day ? Start.ToString("HH:mm") : Start.ToString("MMMM dd"))</strong>
</h5>
@if (Duration > 0)
{
    <span>for</span>
    <h5 style="display:inline-block;">
        <strong>@GetDurationText(Duration)</strong>
    </h5>
}

@code {
    [Parameter]
    public DateTime Start { get; set; }
    [Parameter]
    public int Duration { get; set; }
    string GetDurationText(int durationInMinutes)
    {
        if (durationInMinutes < 60)
        {
            if (durationInMinutes > 0)
                return $"{durationInMinutes}'";
            else
                return "";
        }
        else
        {
            var hours = durationInMinutes / 60;
            var minutes = durationInMinutes % 60;
            if (minutes > 0)
                return $"{hours}h {minutes}'";
            else
                return $"{hours}h";
        }
    }
}
