name: CI/CD Pipeline

on:
  workflow_dispatch:

jobs:
  deploy-to-contabo-windows-vps:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '7.0.x'

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: dotnet publish .\WebApp\WebApp.csproj -c Release -o .\output
      shell: powershell

    - name: Stop IIS Site
      run: |
        Import-Module WebAdministration
        Stop-WebSite -Name "LifeEvents"
      shell: powershell

    - name: Deploy Files
      run: |
        robocopy ".\output" "C:\inetpub\wwwroot\LifeEvents" /MIR /R:2 /W:2
        if ($LASTEXITCODE -ge 8) { exit $LASTEXITCODE }
      shell: powershell

    - name: Start IIS Site
      run: |
        Import-Module WebAdministration
        Start-WebSite -Name "LifeEvents"
      shell: powershell
